<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Iniciar sesión</h2>
        <p class="text-primary">Si ya tienes un usario, inicia sesión</p>
        <p><a class="btn btn-info" href="#/login" role="button">Iniciar sesión &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registrarse</h2>
        <p class="text-primary">Si aún no estás registrado, regístrate aquí</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Registrarse&raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>